@import 'variables';

// body
body {
    background: $light;
}

//card
.card {
    color: $dark;

    .badge-secondary {
        background: $primary;
    }
    .badge-primary {
        background: $secondary;
    }
    .badge-info {
        background: $dark;
    }
}


// text
h1,h2,h3,h4 {
    font-family: $heading;
}

p {
    font-family: $body;
}

::selection {
    background: $primary;
}


// button 
.btn {
    background: $primary;
    border-color: $light;
}

.btn-group {
    border: $green;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background-color: $primary;
    outline: none;
    box-shadow: none;
    border: none;
}

.btn-primary:focus {
    outline: none;
    box-shadow: none;

}

.btn:hover {
    background: $secondary;
    border-color: $light;
}

// jumbotron
.jumbotron {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(40,40,40,0.5)),url('../img/fancycrave-440143-unsplash.jpg');
    background-size: cover;
    color: $light;
}