@import "../vendor/twbs/bootstrap/scss/bootstrap";

$small: 1rem;
$medium: 1.5rem;
$large: 2rem;
$extralarge: 2.5rem;

$heading: 'Oswald', sans-serif;
$subheading: 'Oswald', sans-serif;
$body: 'Open Sans', sans-serif;

$primary: rgba(10,10,10,1);
$secondary: blue;