$small: 1rem;
$medium: 1.5rem;
$large: 2rem;
$extralarge: 5rem;


@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:600,700');

$heading: 'Oswald', sans-serif;
$subheading: 'Oswald', sans-serif;
$body: 'Open Sans', sans-serif;

$light: #FFF9F7;
$dark: #3D3935;

$primary: #B53D34;
$secondary: #C6790D;
$tertiar: #A3D3E2;
